<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pw.isodee"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


    <application
        android:name="pl.pw.isodee.IsodEEApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.pw.isodee.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
			<meta-data
            	android:name="android.app.searchable"
            	android:resource="@xml/searchable" />
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="pl.pw.isodee.NewsActivity"
            android:label="@string/news_title"
            android:parentActivityName="pl.pw.isodee.MainActivity"
            >
			
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.isodee.MainActivity" />
        </activity>
        <activity
                android:name="pl.pw.isodee.TeacherActivity"
                android:label="@string/teachers_title"
                android:parentActivityName="pl.pw.isodee.MainActivity"
                >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="pl.pw.isodee.MainActivity" />
        </activity>
        <activity
            android:name="pl.pw.isodee.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName="pl.pw.isodee.MainActivity" >
            
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pw.isodee.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
